@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.Aileron{
  font-family: 'Aileron', sans-serif;
}
.Aileron-bold{
  font-family: 'Aileron-bold', sans-serif;
}
.Aileron-italic{
  font-family: 'Aileron-italic', sans-serif;
}
@font-face {
  font-family: 'Aileron';
  src: url('./assets/fonts/aileron/Aileron-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron-bold';
  src: url('./assets/fonts/aileron/Aileron-Heavy.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron-italic';
  src: url('./assets/fonts/aileron/Aileron-LightItalic.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppins';
  src: url('./assets/fonts/Poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'etna';
  src: url('./assets/fonts/EtnaFont/fonnts.com-Etna-Semibold-.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.etna {
  font-family: 'etna', sans-serif;
}

.poppins {
  font-family: 'poppins', sans-serif;
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

@layer {
  .bg{
    background: radial-gradient(85.07% 167.25% at 92.53% 11.1%, #0C2949 0%, #07111C 50%, #051425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  }
  .no-icon .nextui-accordion-icon {
    display: none; /* or set width/height to 0 if display: none doesn't work */
    width: 0;
    height: 0;
  }
 
  
  .anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .teamBg{
    background: linear-gradient(180deg, #FFFFFF 0%, #D5EBFF 100%);

  }
  .dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .background{
    background: linear-gradient(180deg, #0C2949 0%, #051425 81.5%);

  }
}